body {
    background: #E3D9B7;
    color: #4d2727;
    font-family: "Allura", cursive;
    text-align: center;
}

h1 {
    font-size: 60px;
}

.inputtext {
    padding: 10px 25px;
    font-family: "Allura", cursive;
    font-size: 15px;
}

pre {
    font-family: "Allura", cursive;
    text-align: center;
    font-size: 30px;
}

a {
    color: #8a5c5c;
    text-decoration: none;
}


footer {
    font-size: 25px;
    font-weight: bold;
}
