body {
    background: #E3D9B7;
    color: #4d2727;
    font-family: "Allura", cursive;
}

.container {
    margin: 100px auto;
    width : 1000px;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

main {
    margin-bottom: 30px;
}

form {
  padding: 10px;
  background-color: #beb694;
  border-radius: 15px;
  display: flex;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

form:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.35);
}

.instructions {
    font-size: 20px;
    padding: 10px 20px;
    width: 85%;
    border: none;
    border-radius: 15px;
    line-height: 20px;
    font-family: "Allura", cursive;   
}

.submit-button {
    width: 15%;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px 2px;
    border: none;
    border-radius: 15px;
    font-family: "Allura", cursive; 
}

.poem {
    font-size: 30px;
    background-color: #e5d7afb6;
    padding: 20px;
    text-align: center;
    line-height: 1.25;
    border-left: 3px solid #968557b6;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.05);
}

a {
    color:#554343;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}